.container {
    text-align: center;
    margin-top: 100px;
    color: rgb(55 65 81);
}


.button-container {
    margin-top: 20px;
    color: rgb(107 114 128);
}


.start-button,
.enter-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    background-color: rgb(55 65 81);
    color: white;
}


.powered-by-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:rgb(67 56 202) ;

}

.easyform-title {
    color:rgb(32, 21, 145) ;
}

.powered-by-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgb(224 231 255);
    color: rgb(67 56 202);
    border: 0;
}

.arrow-buttons-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(67 56 202);
}



.arrow-button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
    background-color: rgb(224 231 255);
    color: rgb(67 56 202);
    border: 0;
}