.container {
    text-align: center;


    .date-input-container {
        margin-bottom: 20px;
    }

    .date-input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .next-button {
        padding: 10px 20px;
        font-size: 16px;
        margin-right: 15px;
        background-color: rgb(55 65 81);
        color: white;
        border-radius: 5px;
        margin-left: 10px;
        width: 100px;
        height: 40px;
    }

    .next-button:hover {
       
    }

    .button-icon {
        margin-left: 5px;
    }
}