.container-file-upload {
    font-size: 15px;
    color: rgb(55 65 81);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;


    .upload-label {
        display: block;
    }

    .input-container {
        border: 2px dashed #ccc;
        padding: 20px;
        margin: 20px auto;
        width: 600px;
        height: 150px;
        position: relative;
        border-width: 1px;
        border-radius: 5px;
    }

    .upload-icon {
        font-size: 24px;
        margin-bottom: 10px;
        display: block;
    }

    .upload-text {
        font-size: 16px;
    }

    .file-input {
        display: none;
    }

    .max-file-size {
        font-size: 14px;
        margin-top: 10px;
    }

    .button-container {
        margin-top: 20px;
    }

    .next-button {
        padding: 10px 20px;
        font-size: 16px;
        margin-right: 15px;
        background-color: rgb(55 65 81);
        color: white;
        border-radius: 5px;
        margin-left: 10px;
        width: 100px;
        height: 40px;
    }
}