.main-content {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-form-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}




input {
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    
}

.cancel-btn {
    background-color: white;
}

.modal-footer {
    text-align: right;
}